// fonts
@import 'palanquin-font';

// colors
$bg-color: #000000;
$text-color: #6e6e6e;

// mixins
@mixin link-style() {
  color: $text-color;
  text-decoration: none;
}

* {
  padding: 0;
  margin: 0;
}

body {
  background-color: $bg-color;
  overflow-x: hidden;
  overflow-y: auto;
  user-select: none;
}

#content-container {
  width: 100%;
}

#title-container {
  margin: 0 auto;
  text-align: center;
  color: $text-color;
}

#title-text {
  font-family: Palanquin;
  font-size: 4em;
  font-weight: 700;
}

#title-contact a, a.hover, a.vistied, a.active {
    color: $text-color
}

#title-pgp {
    font-size: .85em
}

#about-container {
  margin: 0 auto;
  width: 17em;
  text-align: center;
}

#about-text {
  font-family: Palanquin;
  font-size: 1em;
  font-weight: 100;
  color: $text-color;
  line-height: 0em;
}

.padding {
  height: 2em;
}

#link-container {
  margin: 0 auto;
  width: 18em;
}

.link {
  font-family: Palanquin;
  font-size: 1em;
  font-weight: 700;
  width: 6em;
  margin: .1em auto;
  border-style: solid;
  border-width: 0 .1em 0 .1em;
  border-radius: 10%;
  border-color: $text-color;
  text-align: center;
}

.link > a:link {
  @include link-style();
}

.link > a:visited {
  @include link-style();
}

.link > a:hover {
  text-decoration: underline;
}

#footer-container {
  margin: 0 auto;
  text-align: center;
  width: 4em;
  font-family: Palanquin;
  font-size: 1em;
  font-weight: 100;
}

#footer-container > a:link {
  @include link-style();
}

#footer-container > a:visited {
  @include link-style();
}

#footer-container > a:hover {
  text-decoration: underline;
}

#particles-js {
  position: fixed;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
